NODE_ENV=development
SERVICE_NAME=notification-service
PORT=3002
OTEL_TRACING_ENABLED=false
OTEL_SERVICE_NAME=notification-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
METRICS_SERVICE_URL=http://metrics-service:3001
NOTIFICATION_SERVICE_URL=http://notification-service:3002
PREVIEW_SERVICE_URL=http://preview-service:3003
COMPRESSION_SERVICE_URL=http://compression-service:3004
WEBHOOK_SERVICE_URL=http://webhook-service:3005
SCHEDULER_SERVICE_URL=http://scheduler-service:3006
ACCESS_ANALYTICS_SERVICE_URL=http://access-analytics-service:3007
BACKUP_SERVICE_URL=http://backup-service:3008
